html {
  background-color: #4169e1;
}

body {
  background-color: #fffdfa !important;
  border-radius: 5px;
}

abbr {
  text-decoration: none;
  border-bottom: 2px dotted #4169e1;
}

h1,
h3,
h5 {
  color: #3251ad;
}

h2,
h4,
h6 {
  color: #4169e1;
}

p {
  font-size: 16px;
}

.affliction,
.blaster,
.character,
.faction,
.game-title,
.perk,
.quirk,
.redox,
.spell,
.tempest,
.tidal,
.title {
  font-variant: small-caps;
  font-weight: 500;
}

.affliction {
  color: #6d39ed;
}

.blaster {
  color: #ff4500;
}

.character {
  color: #3251ad;
}

.example-of-play {
  background-color: #879fe6;
  border-radius: 10px;
  padding: 20px;
}

.example-of-play i,
.example-of-play li {
  font-size: 16px;
}

.faction {
  color: #5f547a;
}

.footnote p {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
}

.game-title {
  color: #4169e1;
}

.no-bullets {
  padding-left: 0 !important;
}

.no-bullets li {
  list-style: none;
}

.perk {
  color: #91e02b;
}

.quirk {
  color: #e07358;
}

.redox {
  color: #ffd700;
}

.ruler-img {
  display: block;
  border-radius: 50%;
  width: 12em;
  margin: 0 auto;
}

.spell {
  color: #e0b441;
}

.tempest {
  color: #32cd32;
}

.tidal {
  color: #1e90ff;
}

/** CHARACTER SHEET **/

.character-sheet {
  background-color: #f5f5f5;
  border-radius: 5%;
  padding: 15px;
  width: 85%;
  margin: 0 auto;
  font-size: 16px;
}

.sheet-h3 {
  text-align: center;
  color: #4169e1;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sheet-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 500px;
  border-radius: 50%;
}

.sheet-table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #4169e1;
  width: 55%;
  margin-bottom: 30px;
}

.sheet-table th,
.sheet-table td {
  padding: 10px;
  border: 1px solid #4169e1;
  font-size: 16px;
  color: #333;
}

.perks,
.quirks,
.gear,
.bio,
.personality {
  margin-top: 20px;
  margin-bottom: 20px;
}

.perks ul,
.quirks ul,
.gear ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.perks li,
.quirks li,
.gear li {
  line-height: 1.5;
  margin-bottom: 10px;
}

.bio,
.personality {
  line-height: 1.5;
}

.bio {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

.personality {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spoiler-button {
  background-color: #879fe6;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
}

.spoiler-button:focus {
  outline: 0;
}

.spoiler-button:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.spoiler-button:hover:after {
  bottom: 2px;
  left: 2px;
}

.act-img {
  display: block;
  margin: 0 auto;
  width: 700px;
  border-radius: 48px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 24px;
}
